@model RecipeApp.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4>Author: @Html.DisplayFor(model => model.Author)</h4>
    <h4>@Html.DisplayFor(model => model.Description)</h4>
    <hr />
    <h4>Ingridients</h4>
    @Html.DisplayFor(model => model.Ingridients)
    <hr />
    <h4>Recipe</h4>
    @Html.DisplayFor(model => model.Instruction)
    <hr />
    @if (this.Model.Comments != null)
    {
        <h4>Notes</h4>
        @Html.DisplayFor(model => model.Comments)
    }
</div>
<div class="float-end">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
